@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
html {
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* utilities start */
section {
    padding: 3.2rem 10rem;
}
.flex {
    display: flex;
}
.btn-primary {
    display: inline-block;
    text-decoration: none;
    background-color: #1e44f0;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1.6rem 4.8rem;
    border: .2rem solid #1e44f0;
    border-radius: 10rem;
    transition: .3s;
}
.btn-primary .fas,.btn-secondery i.fas {
    margin-left: 1.5rem;
}
.btn-primary:hover {
    background-color: #fff;
    color: #1e44f0;
}
.btn-secondery {
    display: block;
    text-decoration: none;
    text-align: right;
    color: #1e44f0;
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 4.8rem;
}
.section-title {
    color: #3A3A3A;
    font-size: 3.2rem;
    text-align: center;
    margin: 4rem 0 3.2rem;
}
/* utilities end */


/* header start */
header {
    padding: 1.6rem 5rem;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 .4rem 1rem rgba(0, 0, 0, 0.233);
    position: sticky;
    top: 0;
    left: 0;
}
.logo {
    font-size: 2.4rem;
    font-weight: 900;
    color: #363535;
    margin: 1rem 0;
}
nav ul {
    list-style: none;
    margin: 0;
}
nav li {
    display: inline-block;
    margin-left: 3.2rem;
    cursor: pointer;
}
nav li:hover,a:hover {
    color: #1e44f0;
}
nav a {
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    color: #000;
}
nav i.fas {
    font-size: 1.77rem;
}
/* header end */

/* home start */
.home {
    background-color: #1e44f01a;
    padding: 6.4rem 10rem;
    justify-content: space-between;
    align-items: center;
}
.home-text h1 {
    width: 55rem;
    font-size: 5.2rem;
    font-weight: 900;
    line-height: 7rem;
    margin: 0;
}
.home-text p {
    width: 60rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    margin: 2.7rem 0;
}
.home-image:hover img {
    transform: rotate(5deg) scale(1.1);
    transition: .4s ease-in;
}
/* home end */

/* collections start */
.collections {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3.2rem;
    justify-content: center;
}
.collection {
    padding: 1.6rem;
    box-shadow: 0 0 1.5rem rgba(128, 128, 128, 0.411);
    border-radius: 1rem;
    cursor: pointer;
}
.collection h3 {
    font-size: 2.8rem;
    color: #18191F;
    margin: 1.6rem 0;
}
.collection .price {
    font-size: 2.4rem;
    margin: 1.6rem 0;
}
.collection .rating i {
    color: #ffae00;
}
.collection .rating span {
    font-size: 1.6rem;
    font-weight: 600;
    color: #5E6366;
    margin-left: 1rem;
}
.collection .about {
    font-size: 1.6rem;
    font-weight: bold;
    color: #787885;
    margin: 0 0 .5rem;
}
/* collections end */

/* CTA start */
.cta {
    padding: 6.4rem 5rem;
    background: url(images/pic-8.jpg) no-repeat;
    background-size: cover;
}
.cta-title {
    color: #fff;
    font-size: 7rem;
    font-style: italic;
    font-weight: 900;
    letter-spacing: 1.12rem;
    text-transform: capitalize;
    margin: 0 0 2.4rem;
}
.cta-title span {
    color: #cde8f57a;
}
.cta textarea,input:not(:last-child) {
    display: block;
    width: 65rem;
    padding: 1.4rem 1rem;
    margin-bottom: 3.2rem;
    background-color: #ffffff10;
    border: .2rem solid #ffffff;
    outline: none;
    color: #fff;
    font-style: italic;
}
::placeholder {
    color: #fff;
}
.submit-btn {
    display: inline-block;
    background-color: #ffffff10;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    font-style: italic;
    padding: 1.6rem 4.8rem;
    border: .2rem solid #fff;
    border-radius: 10rem;
    cursor: pointer;
}
.submit-btn:hover {
    background-color: #1e44f0;
    color: #ffffff;
    border: .2rem solid #ffffff;
    transition: .3s;
}
/* CTA end */

/* footer start */
footer {
    padding: 3.2rem 0;
    background-color: #1e44f0;
    color: #fff;
    text-align: center;
}
footer h2 {
    font-size: 2.4rem;
    letter-spacing: .5rem;
}
footer p {
    font-size: 1.4rem;
}
.social-links a {
    color: #fff;
}
.social-links i.fab {
    font-size: 2.4rem;
    padding: 1.4rem;
    background-color: #6b6a6a;
    border-radius: 10rem;
    margin: .5rem;
    transition: .3s ease-in;
}
.social-links i.fab:hover {
    background-color: #fff;
    color: #1e44f0;
}
/* footer end */


/* Small devices (landscape phones, 480px and up) */
@media (min-width: 480px) and (max-width: 768px) {
    html {
        font-size: 40%;
    }
    .logo {
        font-size: 4rem;
    }
    nav {
        display: none;
    }
    .home {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .home-image img {
        width: 90%;
    }
    .popular-collection {
        justify-content: center;
    }
    .collections {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cta {
        text-align: center;
    }
    .cta form input,textarea {
        margin: 0 auto 4rem;
    }

    footer h2 {
        font-size: 4rem;
        letter-spacing: .5rem;
        margin: 0 auto 2rem;
    }
    footer p {
        font-size: 1.7rem;
    }
    footer a {
        margin: .7rem;
    }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {
    html {
        font-size: 40%;
    }
    header,.home {
        box-sizing: border-box;
    }
    .home-image img {
        width: 100%;
    }
    .collections {
        grid-template-columns: repeat(2,50rem);
    }
    .collection img {
        width: 100%;
    }
    footer h2 {
        font-size: 3rem;
        letter-spacing: .4rem;
        margin: 0 auto 2rem;
    }
    footer p {
        font-size: 1.5rem;
    }
    footer a {
        margin: .5rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
    html {
        font-size: 60%;
    }
    header {
        box-sizing: border-box;
        justify-content: space-between;
        margin: 0 auto;
    }
    nav li {
        margin-left: 2rem;
    }
    .home-image img {
        width: 100%;
    }
    .popular-collection {
        justify-content: center;
        padding: 3rem 4rem;
    }
}




